{% extends 'my_blog/base.html' %}
{% block content %}
<div class="post" style="text-align: center">
    {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'post_edit' post_pk=post.pk %}"><span class="glyphicon
    glyphicon-pencil"></span></a>
    <a class="btn btn-default" href="{% url 'post_delete' post_pk=post.pk %}"><span class="glyphicon
    glyphicon-trash"></span></a>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>
    {% if post.published_date %}
    <div class="date">
        {{ post.published_date }}
    </div>
    {% else %}
    <p>Пост не опубликован</p>
    <a class="btn btn-default" href="{% url 'post_publish' post_pk=post.pk %}">Опубликовать</a>
    <br>
    {% endif %}
    {% if post.published_date is not null%}

    <div style="margin-top: 40px; background-color: #bbccdd">
        <h4>Комментарии:</h4>
        {% for comment in comments %}
        <div class="comment" style="margin-top: 20px">
            <h5 class="info" style="text-decoration: underline">
                {{comment.author}}.
                {{ comment.created_date}}
            </h5>
            <p>
                {{comment.text}}
            </p>
        </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <h2>Добавить комментарий:</h2>
    <form method="post">
        {% csrf_token %}
        {{form.as_p }}
        <button type="submit" class="save btn btn-default">Отправить</button>
    </form>
    {% endif %}

    {% endif %}
</div>
{% endblock %}